<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>You Are Awesome!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="board">
      <div class="firstpage">
        <div class="status-bar-gap"></div>
        <div class="status-bar">
          <div class="status-bar__goback"><i class="fas fa-arrow-left fa-lx"></i></div>
          <div class="status-bar__mag"><i class="fas fa-search fa-lx"></i></div>
        </div>
        <div class="profile">
          <img   src="https://lh3.googleusercontent.com/proxy/Nswl2Y_lYSUMROhgeZnW_vYG3h4jYv7gcFjsQ_7peOOTnK3-aS658HatsjqyCFdhEhs4dyRnwZlwQ6mIgdcu0ehVBASDB-FWos-0fdsO6C5qG768L1s1mxDfyU26EYqCUz7yPaAP1fIjCCjvDP49eNhP00oTMX9hJAwj8CN2po-S3jNtWZlMEM-fe0h_JDC8kqJmiOsqpVPcAJq7TMhPNtvz8XfaeWFrdiYwYFvFyl65rb4IbJwaz2XNWSVc1xhXd2XaC8rz2yPqg3ZRQfOuJZvX8oI" class="profile__x"/>
        </div>
        <div class="profile__ka">
          <div class="story__name">
            원펀치,조루왕123
          </div>
        </div>
        <div class="joru">
          "Rap.Hip-hop"
        </div>    
        </div>
        <div class="main__one">
          <div class="main__one__shuffle">shuffle</div>
          <div class="main__one__heart">212,971</div>
        </div>       
      </div>
      <div class="secondpage"></div>
    </div>  
  </body>
</html>